@model Conexiones.Animales.Models.MetodoPagos

@{
    ViewBag.Title = "Eliminar Metodo de pago";
}
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <i class="fa fa-remove"></i><div class="card-header text-white bg-dark mb-3">Eliminar Metodo de pago</div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="col-md-4 col-form-label text-md-right">Forma de Pago:</label>

                            @Html.DisplayFor(model => model.formaPago)
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4 col-form-label text-md-right">Descripción:</label>
                            @Html.DisplayFor(model => model.descripcion)
                        </div>
                    </div>

                    <div class="col-md-6 offset-md-4">
                        <label class="justify-content-center">¿Está seguro que desea eliminar el metodo de pago?</label>
                    </div>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="col-md-6 offset-md-4">
                            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                            @Html.ActionLink("Volver", "Index")
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
