
@{
    ViewBag.Title = "Inicio";
}

<div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/imagenGeneral/background.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Content/imagenGeneral/categorias3.jpg" class="d-block w-100" alt="..." >
            </div>
            <div class="carousel-item">
                <img src="~/Content/imagenGeneral/categorias2.jpg" class="d-block w-100" alt="..." >
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
</div>
<!--Section: articles-->
<section id="articles" class="text-center py-5">

    <!-- Container -->
    <div class="container">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold mb-5">Próximamente</h2>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

                <!-- Card Narrower -->
                <div class="card card-cascade narrower">

                    <!-- Card image -->
                    <div class="view view-cascade">
                        <img class="card-img-top" src="~/Content/imagenGeneral/dogRealDog.jpg"
                             alt="Card image cap">
                        <a>
                            <div class="mask img-gradient"></div>
                        </a>
                    </div>

                </div>
                <!-- Card Narrower -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <!-- Card Narrower -->
                <div class="card card-cascade narrower">

                    <!-- Card image -->
                    <div class="view view-cascade">
                        <img class="card-img-top" src="~/Content/imagenGeneral/insideMarsCat.jpg"
                             alt="Card image cap">
                        <a>
                            <div class="mask img-gradient"></div>
                        </a>
                    </div>

                    <!-- Card content -->

                </div>
                <!-- Card Narrower -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <!-- Card Narrower -->
                <div class="card card-cascade narrower">

                    <!-- Card image -->
                    <div class="view view-cascade">
                        <img class="card-img-top" src="~/Content/imagenGeneral/smallDog.jpg"
                             alt="Card image cap">
                        <a>
                            <div class="mask img-gradient"></div>
                        </a>
                    </div>

                </div>
                <!-- Card Narrower -->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
    <!-- Container -->

</section>
<!--Section: articles-->